body {
    font-family: sans-serif;
    background: #FFD700;
    mouse: pointer;
    max-width: 1200px;
    margin: 0 auto;
    color: LightbluE;
}

p {    
    font-size: 1rem;
    background: #fff;
    padding: 1rem;    
    color: dodgerblue;    
    outline: 13px dashed red;
    border: 1px solid black;
    display: inline-flex;
    transform: translateY(10px);
}